/*---Колір основного тексту #212121---*/
/*---Вторинний колір тексту #757575---*/
/*---Black color logo #000000---*/
/*---Accent color #2196F3---*/
/*---Первинний колір фону #FFFFFF---*/
/*---Вторинний колір фону #2F303A---*/


:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --secondary-background-color: #2F303A;
}


body {
color: #757575;
 background-color: #FFFFFF;
}

/*---logo header---*/
.logo-header {color: #000000; text-decoration: none;}
.logo-header:hover,
.logo-header:focus {color: #2196F3;}
.logo-link {color: #2196F3;}
.list {list-style: none;}

/*---site nav---*/
.site-nav .link {color: #212121;}

.site-nav .link:hover,
.site-nav .link:focus {color: #2196F3;}

/*---hero---*/
.hero-title {color: #FFFFFF;}
.hero {background-color: #2F303A;}

/*---section---*/
.section-title {color: #212121;}

/*---features---*/
.feature .title {color: #212121;}